<div class="header bg-gradient-danger pb-8 pt-0 pt-md-8">
    <div class="container-fluid">
      <div class="header-body content">
        <h2 class="text-center">Bienvenido Usuario
        </h2>
        <br>
        <br>
        <div class="row">
          <div class="col-1">
  
          </div>
          <div class="col-10">
                  <!-- Card stats -->
        <div class="row">
  
          <div class="col-xl-4 col-lg-6">
            <a href="#/pages-c/request" class="a-dash">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 bg-warning">
                      <div class=" text-dark mt-3 mb-0">
                        <img src="http://cdn.onlinewebfonts.com/svg/img_235368.png" height="50px" alt="">
                      </div>
                    </div>
                    <div class="col-8">
                      <h5 class="card-title text-uppercase text-muted mb-0">Solicitudes Aprobadas</h5>
                      <span class="h2 font-weight-bold mb-0 num">118</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-6">
            <a href="#/pages-c/request" class="a-dash">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 bg-warning">
                      <div class=" text-dark mt-3 mb-0">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/pending-5-861794.png" height="50px" alt="">
                      </div>
                    </div>
                    <div class="col-8">
                      <h5 class="card-title text-uppercase text-muted mb-0">Solicitudes Pendientes</h5>
                      <span class="h2 font-weight-bold mb-0 num">6</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-lg-6">
            <a href="#/pages-c/request" class="a-dash">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 bg-warning">
                      <div class=" text-dark mt-3 mb-0">
                        <img src="https://www.nicepng.com/png/full/44-448801_checklist-todo-comments-check-list-png-icon.png" height="50px" alt="">
                      </div>
                    </div>
                    <div class="col-8">
                      <h5 class="card-title text-uppercase text-muted mb-0">Todas las Solicitudes</h5>
                      <span class="h2 font-weight-bold mb-0 num">76</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
