<div class="text-end mt-3">
    <button class="btn-new" data-bs-toggle="modal" data-bs-target="#modalNuevaSolicitud">Nueva Solicitud</button>
    <button class="btn-import" data-bs-toggle="modal" data-bs-target="#modalImport">Importar</button>
</div>

<div class="container text-center mb-3 mb-s">
    <div class="row align-items-center">
        <div class="col-6 p-0">
            <div class="input-group">
                <i class="input-group-text bi bi-search search"></i>
                <input type="text" class="form-control search-input" placeholder="Buscar" aria-label="Username">
                <!--Poner función para limpiar el input-->
                <button class="input-group-text close"><i class="bi bi-x-lg "></i></button>
                <button type="button" class="input-group-text btn-filter">Filtrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Tabla Index -->
<div>
    <table class="table" aria-label="Table-request">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">Código</th>
                <th scope="col">Curso</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Cant. Horas</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of request" class="text-center">
                <td>{{request.id}} </td>
                <td>{{request.teacherDistribution?.course?.name}} </td>
                <td>{{request.teacherDistribution?.subject?.name}} </td>
                <td>{{request.totalHoursRequested}} </td>
                <td>{{request.state?.name}} </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <!--<i type="button" class="bi bi-eye icon" data-bs-toggle="modal" data-bs-target="#modalDetail" (click)="findOne(request.id!)"></i>-->
                        <i type="button" class="bi bi-pencil-square mx-2 icon" data-bs-toggle="modal" data-bs-target="#modalNuevaSolicitud" (click)="findOne(request.id!)"></i>
                        <i type="button" class=" bi bi-trash mx-2 icon " data-bs-toggle="popover" (click)="delete(request.id!)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--Modal Nueva Solitud-->
<div class="modal fade" data-bs-backdrop="static" id="modalNuevaSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> 
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="myForm">
                        <div class="row">
                             <!--
                            <div class="col-md-2">
                                <label for="periodo" class="form-label">Periodo</label>
                                
                                <select class="form-select" name="" id="" formControlName="schoolYear">
                                    <option selected> Selecciona</option>
                                    <option *ngFor="let sY of schoolYear " [ngValue]="sY.id" >{{sY.name}} </option>
                                </select>
                            </div>
                            -->
                            <div class="col-md-5">
                                <label for="carrera" class="form-label">Carrera</label>
                                <select class="form-select" name="" id="" formControlName="career">
                                    <option *ngFor="let career of careers " [ngValue]="career.id" >{{career.name}} </option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label for="distributivo" class="form-label" >Distributivo Docente</label>
                                <select class="form-select" name="" id="" formControlName="teacherDistribution">
                                    <option *ngFor="let td of teacherDistributive " [ngValue]="td.id" >{{td.name}} </option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="date1" class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="date" name="" id="startDate" formControlName="startDate">
                            </div>
                            <div class="col-md-4">
                                <label for="date2" class="form-label">Fecha Fin</label>
                                <input  class="form-control"type="date" name="" id="endDate" formControlName="endDate">
                            </div>
                            <div class="col-md-4">
                                <label for="course" class="form-label">Horas Semanales</label>
                                <input class="form-control" type="number" name="" id="hour" formControlName="totalHoursRequested">
                            </div>
                            <!--
                            <div class="col-md-4">
                                <label for="subject" class="form-label">Curso</label>
                                <input class="form-control" type="text" disabled id="subject" >
                            </div>
                            -->
                        </div>
                        <br>
                        <!--
                        <div class="row">
                            <div class="col-md-4">
                                <label for="subject" class="form-label">Asignatura</label>
                                <input class="form-control" type="text" disabled name="" id="subject">
                            </div>
                            <div class="col-md-4">
                                <label for="teacher" class="form-label">Docente</label>
                                <input  class="form-control"type="text" disabled name="" id="teacher">
                            </div>
                            <div class="col-md-4">
                                <label for="course" class="form-label">Horas Semanales</label>
                                <input class="form-control" type="number" name="" id="hour" formControlName="hour">
                            </div>
                        </div>
                        -->
                        <br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn-new" (click)="guardar()">Solicitar Aula</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Import -->
<div class="modal fade" data-bs-backdrop="static" id="modalImport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar Solicitudes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>Descarga el archivo modelo, modifícalo e impórtalo nuevamente, para actualizar tus datos o 
                        insertar nuevas solicitudes.</p>
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <button class="btn-download" type="button">Descargar Modelo <i class="bi bi-download icon-buttom"></i></button>
                        <button class="btn-upload" type="button">Importar Modelo <i class="bi bi-upload icon-buttom"></i></button>
                    </div>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal View -->
<div class="modal fade" data-bs-backdrop="static" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p><strong>Carrera:</strong> </p>
                    <p><strong>Curso:</strong> </p>
                    <p><strong>Asignatura:</strong> </p>
                    <p><strong>Horas Semanales:</strong> </p>
                    <p><strong>Docente:</strong> </p>
                    <p><strong>Fecha:</strong> </p>
                    <button class="btn-import">APROBADO</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>