<div class="header bg-gradient-danger pb-8 pt-1 pt-md-8 course" style="margin-bottom: 100px;">
    <div class="container-fluid" >
        <div class="text-end">
            <button class="btn btn-new">Nuevo Curso</button>
        </div>
        <br>
        <div class="text-end">
            <form action="#" method="get">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn btn-success">Filtrar</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div class="header-body content">
            <h3>DESARROLLO DE SOFTWARE</h3>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1ma-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1mb-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2ma-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2mb-software
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1va-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1vb-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2va-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2vb-software
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1na-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1nb-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2na-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2nb-software
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="header-body content">
            <h3>MARKETING</h3>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1ma-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1mb-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2ma-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2mb-software
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1va-software
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1vb-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2va-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2vb-marketing
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1na-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          1nb-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2na-marketing
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card-c">
                        <div class="card-body-c">
                          2nb-marketing
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>