<nav class="sb-topnav navbar navbar-expand navbar-light bg-light" >
    <!-- Navbar Brand-->
    <a class="navbar-brand" href="index.html"><img src="https://i.postimg.cc/7Y0V0SR8/GESTION-AULAS-LOGO-removebg-preview.png" width="50px" alt="">GestecAu</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="font-size:20px ;"></i></button>
    <!-- Navbar-->
        <ul class="navbar-nav navbar-align justify-content-end" style="width: 100%;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <p style="font-size: 14px;float: left; margin: 0px 10px; font-weight: 600;">Pepito Perez<br> <span style="font-weight: 300;">Administrador</span></p>
                <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png"
                  class="me-2" width="30px" alt="Charles Hall" />
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#/pages/user-profile"><i class="align-middle me-1" data-feather="user"></i>
                  Perfil</a>
                <a class="dropdown-item" href="#/pages/settings"><i class="align-middle me-1" data-feather="settings"></i> Ajustes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#/gestec/login"><i class="align-middle me-1" data-feather="log-in"></i>Cerrar Sesión</a>
              </div>
            </li>
          </ul>
</nav>