<div>
    <div class="container text-center">
        <div class="row justify-content-end">
            <div class="col-10 p-0">
                <h1>Asignaturas</h1>
            </div>
            <div class="col-2  text-end p-0">
                <button type="button" class="btn btn-info m-2" (click)="showDialog()">
                    Importar
                </button>
            </div>
        </div>
    </div>
    <p-dialog header="Importar Asignaturas" [(visible)]="display"
        [breakpoints]=" {'960px': '75vw' , '640px' : '100vw' }" [style]="{width: '30vw'}">
        <div class="container text-center">
            <form>
                <div>
                    <p class="fs-6 text-start">Descarga el archivo modelo, módifícalo e importalo nuevamente, para
                        actualizar tus
                        datos o insertar nuevas docentes</p>
                </div>
                <div class="row justify-content-start mb-3">
                    <div class="col-12">
                        <button type="submit" (click)=ocultarDialog() class="btn btn-warning mx-2 my-2">Descargar
                            Modelo</button>
                    </div>
                    <div class="col-12">
                        <button type="submit" (click)=ocultarDialog() class="btn btn-info mx-2 my-2">Importar
                            Modelo</button>
                    </div>
                </div>

            </form>
        </div>
        <ng-template pTemplate="footer">
            <button type="submit" (click)=ocultarDialog() class="btn btn-primary">Cerrar</button>
        </ng-template>
    </p-dialog>
    <div class="container text-start">
        <div class="row justify-content-start mb-3">
            <div class="col-4">
                <label for=" nombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" aria-describedby="nombre" required>
            </div>
            <div class="col-4">
                <label for=" tiempo" class="form-label">Nivel</label>
                <input type="number" class="form-control" id="tiempo" aria-describedby="tiempo" required>
            </div>
            <div class="col-4">
                <label for=" tiempo" class="form-label">Docente</label>
                <input type="number" class="form-control" id="tiempo" aria-describedby="tiempo" required>
            </div>
        </div>
        <div class="row align-content-end mb-3">
            <div class="col-4">
                <label for=" tiempo" class="form-label">Nivel</label>
                <input type="number" class="form-control" id="tiempo" aria-describedby="tiempo" required>
            </div>
            <div class="col-4">
                <label for=" tiempo" class="form-label">Docente</label>
                <input type="number" class="form-control" id="tiempo" aria-describedby="tiempo" required>
            </div>
            <div class="col-4 text-end p-0">
                <button type="button" class="btn btn-info m-2" (click)="showDialog()">
                    Guardar
                </button>
            </div>
        </div>

    </div>
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Docente</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Horas Laboratorio</th>
                    <th scope="col">Horas Teoricas</th>
                    <th scope="col">Opciones</th>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>1752478451</td>
                    <td>Kevin</td>
                    <td>kjf.fuerez@yavirac.edu.ec</td>
                    <td>0968858831</td>
                    <td>0968858831</td>

                    <td class="form-switch align-items-center"><input class="form-check-input m-0" type="checkbox"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <i type="button" class=" bi bi-trash mx-2" data-bs-toggle="popover"></i>
                            <i type="button" class="bi bi-pencil-square" (click)="showDialog()"></i>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>