<div class="text-end mt-3">
    <button class="btn-new" data-bs-toggle="modal" data-bs-target="#modalNuevaSolicitud">Nuevo</button>
</div>
<br>
<div class="modal fade" data-bs-backdrop="static" id="modalNuevaSolicitud" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container text-start">
                <form [formGroup]="myForm">
                    <div class="row justify-content-start mb-3">
                        <div class="col-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="nombre" class="form-control" id="name" aria-describedby="nombre"
                                formControlName="name" required>
                            <p-message *ngIf="nameField.errors?.['required']" severity="error"
                                text="Este campo es obligatorio">
                            </p-message>
                        </div>
                        <div class="col-6">
                            <label for=" tiempo de duración" class="form-label">Tiempo de Duración</label>
                            <input type="tiempo de duración" class="form-control" id="durationTime"
                                aria-describedby="tiempo de duración" formControlName="durationTime" required>
                            <p-message *ngIf="durationTimeField.errors?.['required']" severity="error"
                                text="Este campo es obligatorio">
                            </p-message>
                            <p-message *ngIf="durationTimeField.errors?.['pattern']" severity="error"
                                text="Este campo es obligatorio">
                            </p-message>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">Foto</label>
                        <input type="file" class="form-control" id="nombre" aria-describedby="nombre" required>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn-new" (click)="onSubmit()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p-card *ngFor="let career of careers" class="col-md-3 card">
        <div class="card1 text-center">
            <div class="card-cont">
                <img src="{{career.image}}" class="img-top">
            <h4 class="title">{{career.name}}</h4>
            <h6> <i class="bi bi-hourglass-split"></i> Tiempo de duración {{career.durationTime}} semestres</h6>
            <a href="#/pages/subject" class="btn btn-import ">Agregar Asignaturas</a>
            </div>
            <hr>
            <i type="button" class="bi bi-pencil-square mx-2 icon"></i>
            <i type="button" class=" bi bi-trash mx-2 icon "></i>
        </div>
    </p-card>
</div>