<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav" id="main-menu">
                <br>
                <a class="nav-link activo" href="#/pages/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="#/pages/classroom">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-landmark"></i></div>
                    Aulas
                </a>
                <a class="nav-link" href="#/pages/career">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-graduation-cap"></i></div>
                    Carreras
                </a>
                <a class="nav-link" href="#/pages/course">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users-rectangle"></i></div>
                    Cursos
                </a>
                <a class="nav-link" href="#/pages/teacher">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chalkboard-user"></i></div>
                    Docentes
                </a>
                <a class="nav-link" href="#/pages/schedule">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
                    Horarios
                </a>
                <a class="nav-link" href="#/pages/settings">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                    Ajustes
                </a>
            </div>
        </div>
    </nav>
</div>