<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav" id="main-menu">
                <br>
                <a class="nav-link activo" href="#/pages-c/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="#/pages-c/request">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-ballot-check"></i></div>
                    Solicitudes
                </a>
                <a class="nav-link" href="#/pages-c/schedule">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
                    Horarios
                </a>
                <a class="nav-link" href="#/pages-c/settings">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                    Ajustes
                </a>
            </div>
        </div>
    </nav>
</div>
