/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
}
.btn-new {
    background-color: #38b6ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 35px;
  }
.btn-import{
    background-color: #7ed957;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 35px;

}
.btn-filter{
    background-color: #FFBE5C;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 35px;
}
.icon{
    font-size: 20px;
}

.btn-cancelar{
    background-color: #B8B9BB;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 35px;
}
.btn-download{
    background-color: #FFBD59;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}
.btn-upload{
    background-color: #38B6FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}
.icon-buttom{
    font-size: 25px;
    margin-left: 15px;
}