<div class="header bg-gradient-danger pb-8 pt-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body content">
      <h2 class="text-center">Bienvenido Pepito
      </h2>
      <br>
      <br>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="https://cdn-icons-png.flaticon.com/512/185/185578.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Aulas</h5>
                  <span class="h2 font-weight-bold mb-0">118</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="https://cdn-icons-png.flaticon.com/512/4/4259.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Carreras</h5>
                  <span class="h2 font-weight-bold mb-0">6</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="https://i.pinimg.com/originals/7e/9a/b2/7e9ab2b0d8b4a110e75cfc4a060e2474.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Docentes</h5>
                  <span class="h2 font-weight-bold mb-0">76</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="http://cdn.onlinewebfonts.com/svg/img_18374.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Asignaciones</h5>
                  <span class="h2 font-weight-bold mb-0">46</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="http://cdn.onlinewebfonts.com/svg/img_189017.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Horarios</h5>
                  <span class="h2 font-weight-bold mb-0">27</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-4 bg-warning">
                  <div class=" text-dark mt-3 mb-0">
                    <img src="https://i.pinimg.com/originals/63/31/25/6331252a3eabe94dd723647e2ad7c565.png" height="50px" alt="">
                  </div>
                </div>
                <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cursos</h5>
                  <span class="h2 font-weight-bold mb-0">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
