<div class="text-end mt-3">
    <button type="button" class="btn-new" (click)="showModal()">
        Nuevo
    </button>
    <button type="button" class="btn-import">Importar</button>
</div>
<p-dialog header="{{tituloModal}}" [(visible)]="display" [breakpoints]=" {'960px': '75vw' , '640px' : '100vw' }"
    [style]="{width: '50vw'}">
    <div class="container text-start">
        <form [formGroup]="myForm">
            <div class=" grid p-fluid row justify-content-start mb-3">
                <div class="col-6">
                    <label for=" nombre" class="form-label">Nombre</label>
                    <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="nombre">
                    <p-message *ngIf="nameField.errors?.['required']" severity="error" text="Este campo es obligatorio">
                    </p-message>
                </div>
                <div class="col-6">
                    <label for="capacidad" class="form-label">Capacidad</label>
                    <input type="number" formControlName="capacity" class="form-control" id="capacity"
                        aria-describedby="capacidad">
                    <p-message *ngIf="capacityField.errors?.['required']" severity="error"
                        text="Este campo es obligatorio">
                    </p-message>
                </div>
            </div>
            <div class="row justify-content-start mb-3">
                <div class="col-6">
                    <label for="location" class="form-label">Ubicación</label>
                    <select class="form-select" name="location" formControlName="location">
                        <option *ngFor=" let location of locations" [ngValue]="location">
                            {{location.buildingName}}
                        </option>
                    </select>
                    <p-message *ngIf="locationField.errors?.['required']" severity="error"
                        text="Este campo es obligatorio">
                    </p-message>
                </div>
                <div class="col-6">
                    <label class="form-label">Estado</label>
                    <p-inputSwitch formControlName="stateAx" id="stateAx" (onChange)="prueba($event)">
                    </p-inputSwitch>
                    <p-message *ngIf="statusField.errors?.['required']" severity="error"
                        text="Este campo es obligatorio">
                    </p-message>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button type="submit" (click)=ocultarModal() class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn-new" (click)=onSubmit()>Guardar</button>
    </ng-template>
</p-dialog>
<div class="container text-center pb-3">
    <div class="row align-items-center">
        <div class="col-6 p-0">
            <div class="input-group">
                <i class="input-group-text bi bi-search search"></i>
                <input type="text" class="form-control search-input" name="searchText" placeholder="Buscar"
                    aria-label="Username" [(ngModel)]="searchText">
                <!--Poner función para limpiar el input-->
                <button class="input-group-text close"><i class="bi bi-x-lg "></i></button>
                <button type="button" class="input-group-text btn-filter">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table" aria-label="Table">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let classroom of classrooms ">
                <td>{{classroom.name}}</td>
                <td>{{classroom.location?.buildingName}}</td>
                <td>{{classroom.capacity}}</td>
                <td>
                    <p-tag [severity]="classroom.state?.name=== 'Activo' ? 'success' : 'warning'">
                        {{classroom.state?.name}}
                    </p-tag>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <i type="button" class=" bi bi-trash mx-2 icon" (click)="delete(classroom.id!)"
                            data-bs-toggle="popover"></i>
                        <i type="button" class="bi bi-pencil-square icon" (click)="findOne(classroom.id!)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>